* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(8, 0, 60);
}

body {
  background-image: linear-gradient(to bottom, #003264, #08003c, #030014);
}

.container {
display: grid;
grid-template: repeat(5, 1fr) / repeat(4, 1fr);
gap: 10px 10px;
margin: 0 auto;
}
/*.equal {
border: 2px blue solid;
grid-column: 3 / 5;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center; 
}*/
button{
  border-radius: 40%;
  border: 0;
  width: 3em;
  height: 3em;
  margin: 8px;
  font-size: 24px;
  background-color: rgba(224, 255, 255, 0.2);
}

button:hover {
  background-image: url("button.png");
  background-size: cover;
  background-color: rgb(0, 40, 140);
  opacity: 0.9;
  color: lightcyan;
  border-color: teal;
  box-shadow: 0 8px #003737;
  transition: background-color 0.4s, color 1s;
}

button:active {
  box-shadow: 0 3px #003737;
  transform: translateY(5px);
}

.value {
display: flex;
justify-content: end;
padding: 0 2em;
}

.big{
  border-radius: 5%;
  border: 0;
  background-image: url("background.png");
  background-size: 100% 100%;
  width: 70vw;
  margin: 10vh auto;
  box-shadow: 3px 6px #003737, 3px 3px 30px lightcyan;
}

.secondBig {
display: flex;
justify-content: between;
}